@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1603639186087'); /* IE9 */
  src: url('iconfont.eot?t=1603639186087#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABqQAAAJmAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBGIEaATYCJAMMCwgABCAFhG0HMxvVBcgusG3YkxKBBIpQ1ezyAgA+4uFrrL2/u2eGJkiike7TSSQyiUq1qNIiKZDFKvnunXvzx6Dw5IBJoS1eWk5eekN0BMagEpuQm3ArD9xc32VPEtZ1n+dyehPo7Gh+oHO61lo2/KgXYBxQlu6FUWQllHHL8NrF6uROPCbQNK1Zant2eY3lKOiqQBx4jsFyCkVFUTp1odpwsIhbFfV0lr4xN9H341dn5JBUMrpxZ3/GZuOff/7lk+GJvYBQIsDxCjJWMIXYbWzuSBcKl67ZzDCD7WtW8PlwyKcgLPbKJ+Kv491tsACtxCfP6dZMcEQCGVSL7TnMqsCO3RJidHSfv5xX2E9P+fkXkw6G8Zf9ZiXGX5rge6wEre6i1+e+r2v9PW/au77MpZzZqis2bba+lNmnb/OkGJnR+qSYjlbzUdpJ9ItAcNpfP6IVD//X8wt46wMJFnh3/Ryp4H+ZkAPFttBQLqbRM7rpbBTRSGjaGUM0O+JvvHsc3U+oGx+RrpnKkNXNkIVdQUXLKqrq1tC0bO54yyglXZQGllwShL5PJF2vyPp+yML+omLCP6r6kY6m3Si/sGUuvLwphQahDeYueJaIOY9QXty7gs5maKi8JRI2UCVeBTpa28udOYxRzbEl2XI6iThwJSKYJc9hGAqQSvhoUatLJAfb2njTm1otEbE8WxRkIMgGTLuAxyLEeDCa5FU+vwI5NoUMqkPXUm9ASsKbHHRo1Y4g55wxSncvryS2ODoRwgFOESJglsxDoZAAZPM8H7KQVu6IujSojQ3jWGfr+u7o+45BE70hR4ocRTqUGbbYjhkDAAA=') format('woff2'),
  url('iconfont.woff?t=1603639186087') format('woff'),
  url('iconfont.ttf?t=1603639186087') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1603639186087#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e7eb";
}

.icon-down:before {
  content: "\e7ec";
}

