@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604235857690'); /* IE9 */
  src: url('iconfont.eot?t=1604235857690#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABpQAAAJrAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgp8gQQBNgIkAwwLCAAEIAWEbQc3G8sFEdWTL2Q/D+yGjwxWPmaAjzvGrNUSglA1wX8Onqe1/507M7tfXJNHFUHcQsMbNDzyElFM8guABOSZeDmt6pdRCNUle77vp++AZJMj/PJ5Lqd3VwEFMr9lOa29nx/1AownB7oHRlu4iALgFGp3UBBW/tV5COBONJlIaXltK64YwmkCyOzUxBCunSgGowquCPbEWoOcwMJVHVSPgePF9+UrWeIKCksTzm0cLxul8IPPhy7NqTcjiIFAN1uABjIBA9I/me1EI4qtcdea5Uobg6DOSjidhdTT2y/94ykQm7DeE4BUmlPwwScRQuBD1wYUABoAu5uPANIYK/BtggTZA2d2BI1dPpwxcX7nlVuBo2cOBY+fO7R5tL11bH1NnyPRsbx0ufLy6qoj4VL/vLX1WeKzpuZ0I/nqzo8fv36VzXl5ObkM0p/R99Q8gL6t7iKAwKf2qLcDPv939TAAPH30pKkwGzA/uL7YJ/CjZGCT8RShTRtHmkgDvyYIcCugYh3AGQb9ebFfHwQPguC6w+9CVAONK4mkYWXCwoMc2LhSAHcyqNjsQQDLaMS4AensJRB8uQmFN3eh8cVBGtZzWATzHTa+ouFOu7SnB8nCukuJ4KK4w/oHt3Gm2KGXsvGG5h0XaSsKzgulugQMbd8vXDGjnLGgfsyoSkDCCWZyGcbIUIQ9btpa1TJ1HU3dqN04NRdKBBfFHdY/uI0zZe31Mvj8Dc07LrJA64q+UKobHoa2B8irNkO0b7mmfsyoSkDCCWYyCmNkKNOjPG7a2h3pMnVRK0K17f369H07AHfCI7Uo0WIwpfzNh3GXXbVNAwAA') format('woff2'),
  url('iconfont.woff?t=1604235857690') format('woff'),
  url('iconfont.ttf?t=1604235857690') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604235857690#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Down:before {
  content: "\e60f";
}

.icon-finish:before {
  content: "\e659";
}

